USE [master]
GO
/****** Object:  Database [MISAVASService]    Script Date: 4/3/2020 9:29:00 PM ******/
CREATE DATABASE [MISAVASService]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MISAVASService', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLLDDAN\MSSQL\DATA\MISAVASService.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MISAVASService_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLLDDAN\MSSQL\DATA\MISAVASService_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MISAVASService].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MISAVASService]
GO
/****** Object:  User [dandan]    Script Date: 4/3/2020 9:29:01 PM ******/
CREATE USER [dandan] FOR LOGIN [dandan] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [dandan]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[BankCode] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](255) NOT NULL,
	[BankDesc] [nvarchar](255) NULL,
	[SecretKey] [nvarchar](255) NULL,
	[Status] [smallint] NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_BANKS] PRIMARY KEY CLUSTERED 
(
	[BankCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankPaymentSevice]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankPaymentSevice](
	[BankCode] [nvarchar](50) NOT NULL,
	[PaymentServiceId] [uniqueidentifier] NOT NULL,
	[PaymentServiceType] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[PaymentServiceUrl] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_BankPaymentSevice] PRIMARY KEY CLUSTERED 
(
	[BankCode] ASC,
	[PaymentServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[AutoId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerInfo] [nvarchar](255) NULL,
	[CustomerCode] [nvarchar](50) NULL,
	[OrderCode] [nvarchar](50) NULL,
	[OrderInfo] [nvarchar](255) NULL,
	[MerchantCode] [nvarchar](50) NULL,
	[TotalAmount] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchant]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchant](
	[MerchantId] [int] IDENTITY(1,1) NOT NULL,
	[MerchantCode] [nvarchar](50) NOT NULL,
	[MerchantName] [nvarchar](255) NOT NULL,
	[SecretName] [nvarchar](255) NULL,
	[SecretPassword] [nvarchar](255) NULL,
	[SecretKey] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[APIUrl] [nvarchar](255) NULL,
	[SubMerchantId] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Merchant_1] PRIMARY KEY CLUSTERED 
(
	[MerchantCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentSevice]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentSevice](
	[PaymentServiceId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[PaymentServiceCode] [nvarchar](20) NULL,
	[PaymentServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PaymentSevice] PRIMARY KEY CLUSTERED 
(
	[PaymentServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubMerchant]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubMerchant](
	[SubMerchantId] [int] NOT NULL,
	[SubMerchantCode] [nvarchar](50) NOT NULL,
	[SubMerchantName] [nvarchar](255) NOT NULL,
	[SecretName] [nvarchar](255) NULL,
	[SecretPassword] [nvarchar](255) NULL,
	[SecretKey] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[APIUrl] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_SubMerchant] PRIMARY KEY CLUSTERED 
(
	[SubMerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionAuth]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionAuth](
	[AutoId] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](255) NOT NULL,
	[TransactionNo] [uniqueidentifier] NOT NULL,
	[BankCode] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[MerchantCode] [nvarchar](50) NOT NULL,
	[SubMerchantCode] [nvarchar](50) NULL,
	[Amount] [decimal](18, 4) NOT NULL,
	[OrderDesc] [nvarchar](255) NULL,
	[CustomerId] [nvarchar](80) NOT NULL,
	[TransactionType] [smallint] NULL,
	[Status] [smallint] NOT NULL,
	[BankRefId] [nvarchar](255) NULL,
	[MerchantRefId] [nvarchar](255) NULL,
	[SubMerchantRefId] [nvarchar](255) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[MoreInfo] [nvarchar](255) NULL,
	[SysTransactionNo] [nvarchar](255) NULL,
 CONSTRAINT [PK_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[AutoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bank] ADD  CONSTRAINT [DF_Bank_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Bank] ADD  CONSTRAINT [DF_Bank_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Merchant] ADD  CONSTRAINT [DF_Merchant_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Merchant] ADD  CONSTRAINT [DF_Merchant_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[PaymentSevice] ADD  CONSTRAINT [DF_PaymentSevice_PaymentServiceId]  DEFAULT (newid()) FOR [PaymentServiceId]
GO
ALTER TABLE [dbo].[TransactionAuth] ADD  CONSTRAINT [DF_Transaction_TransactionNo]  DEFAULT (newid()) FOR [TransactionNo]
GO
ALTER TABLE [dbo].[TransactionAuth] ADD  CONSTRAINT [DF_Transaction_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[TransactionAuth] ADD  CONSTRAINT [DF_Transaction_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[TransactionAuth] ADD  CONSTRAINT [DF_Transaction_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[BankPaymentSevice]  WITH CHECK ADD  CONSTRAINT [FK_BankPaymentSevice_PaymentSevice] FOREIGN KEY([PaymentServiceId])
REFERENCES [dbo].[PaymentSevice] ([PaymentServiceId])
GO
ALTER TABLE [dbo].[BankPaymentSevice] CHECK CONSTRAINT [FK_BankPaymentSevice_PaymentSevice]
GO
ALTER TABLE [dbo].[Merchant]  WITH CHECK ADD  CONSTRAINT [FK_Merchant_SubMerchant] FOREIGN KEY([SubMerchantId])
REFERENCES [dbo].[SubMerchant] ([SubMerchantId])
GO
ALTER TABLE [dbo].[Merchant] CHECK CONSTRAINT [FK_Merchant_SubMerchant]
GO
ALTER TABLE [dbo].[TransactionAuth]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Merchant] FOREIGN KEY([MerchantCode])
REFERENCES [dbo].[Merchant] ([MerchantCode])
GO
ALTER TABLE [dbo].[TransactionAuth] CHECK CONSTRAINT [FK_Transaction_Merchant]
GO
ALTER TABLE [dbo].[TransactionAuth]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTIONS_BANKS] FOREIGN KEY([BankCode])
REFERENCES [dbo].[Bank] ([BankCode])
GO
ALTER TABLE [dbo].[TransactionAuth] CHECK CONSTRAINT [FK_TRANSACTIONS_BANKS]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetBankByBankCode]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nguyễn Văn Thanh
-- Create date: 22/04/2019
-- Description:	Proc lấy thông tin chi  tiết của đơn vị thanh toán (Bank/TGTT) theo BankCode
-- EXEC Proc_GetBankByBankCode @bankCode = 'VCB'
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetBankByBankCode]
	@bankCode NVARCHAR(50) =''
AS
BEGIN
	SELECT BankCode,
	       BankName, 
		   BankDesc,
		   Status,
		   CreateDate
	FROM Bank
	WHERE (BankCode =  @bankCode)
END

GO
/****** Object:  StoredProcedure [dbo].[Proc_GetBankPaymentServiceBySeviceIdAndBankCode]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		NVThanh
-- Create date: 13/04/2019
-- Description:	Get BankPaymentSevice by PaymentServiceCode and BankCode
-- EXEC Proc_GetBankPaymentServiceBySeviceIdAndBankCode @bankCode = 'VCB', @paymentServiceId = ''
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetBankPaymentServiceBySeviceIdAndBankCode]
	@bankCode NVARCHAR(20),
	@paymentServiceId uniqueidentifier
AS
BEGIN
	SELECT BankCode,
	       PaymentServiceId,
	       PaymentServiceType,
	       Status,
	       PaymentServiceUrl,
	       CreatedDate,
	       UpdatedDate
	FROM   BankPaymentSevice
	WHERE BankCode = @bankCode and PaymentServiceId = @paymentServiceId
END

GO
/****** Object:  StoredProcedure [dbo].[Proc_GetBanks]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		NVThanh
-- Create date: 22/04/2019
-- Description:	Lấy danh sách ngân hàng tích hợp vào hệ thống Cổng thu hộ chi hộ
-- DECLARE @countResult int
-- EXEC Proc_GetBanks @pageno=0,@pagesize=20,@filter='', @status = -1, @bankCode='', @count = @countResult output
-- SELECT @countResult
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetBanks]
	 @pageno INT,
     @pagesize INT,
	 @filter nVARCHAR(max),
	 @status int = -1,
	 @bankCode NVARCHAR(50) = '',
	 @count int OUTPUT
AS
BEGIN
	DECLARE @Start INT=(@pageno)*@pagesize;
    DECLARE @End INT=@Start+@pagesize;
	DECLARE @sql nvarchar(max);
	DECLARE @params NVARCHAR(MAX);

	DECLARE @tblBanks AS TABLE
		(BankCode NVARCHAR(50),
		 BankName NVARCHAR(255),
		 BankDesc NVARCHAR(255),
		 Status SMALLINT,
		 CreateDate DATETIME,
		 RN INT)

INSERT INTO @tblBanks
	SELECT BankCode,
	       BankName, 
		   BankDesc,
		   Status,
		   CreateDate,
		   ROW_NUMBER() OVER (ORDER BY  CreateDate desc) AS RN
	FROM Bank
	WHERE ((BankCode =  @bankCode) or @bankCode = '' )and ((Status =  @status) or @status = -1 )and (BankName like N'%'+@filter+'%')

	
SELECT  @count=COUNT(*) FROM @tblBanks
SELECT * FROM @tblBanks WHERE RN>@Start and RN<=@End ORDER BY RN 
END

GO
/****** Object:  StoredProcedure [dbo].[proc_GetDashbroads]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		<LDDAN>
-- Create date: <10/2/2020>
-- Description:	<Lấy ra tên ngân hàng, số giao dịch thành công, số giao dịch thất bại, số tiền giao dịch thành công của mỗi ngân hàng>
-- Vd: exec [dbo].[proc_GetDashbroads] @Where=N' 1 = 1 '
-- =============================================

CREATE PROC [dbo].[proc_GetDashbroads]
	@FromDate datetime,
	@ToDate datetime
AS
BEGIN
	select Bank.BankName as Name, 
	Count(case when TransactionAuth.Status= 0 then 1 else null end) as New, 
	Count(case when TransactionAuth.Status = 1 then 1 else null end) as Processing,
	Count(case when TransactionAuth.Status = 2 then 1 else null end) as Completed,
	Count(case when TransactionAuth.Status = 3 then 1 else null end) as Failed,
	SUM(case when TransactionAuth.Status = 2 then Amount else 0 end) as MoneyCompleted
	from Bank left join TransactionAuth on Bank.BankCode = TransactionAuth.BankCode
	where (@FromDate IS NULL OR TransactionAuth.CreateDate >= @FromDate)
	and (@ToDate IS NULL OR TransactionAuth.CreateDate <= @ToDate)
	group by Bank.BankName
	option(recompile)
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetMerchantByMerchantCode]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		NVThanh
-- Create date: 22/04/2019
-- Description:	Lấy thông tin NCCDV theo mã của NCCDV (MerchantCode)
-- EXEC Proc_GetMerchantByMerchantCode @merchantCode = 'MISASUPPORT'
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetMerchantByMerchantCode]
	@merchantCode NVARCHAR(50) =''
AS
BEGIN
	SELECT MerchantId,
	       MerchantCode,
		   MerchantName,
		   SecretName,
		   SecretPassword,
		   SecretKey,
		   APIUrl,
		   CreateDate,
		   Status
	FROM Merchant
	WHERE @merchantCode = MerchantCode
END

GO
/****** Object:  StoredProcedure [dbo].[Proc_GetMerchants]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	NVThanh
-- Create date: 22/04/2019
-- Description:	Danh sách NCCDV tích hợp Cổng thu hộ chi hộ (Theo mã Merchant ("": ALL),Theo trang, theo trạng thái (-1: ALL), có tìm kiếm theo tên)
-- DECLARE @countResult int
-- EXEC Proc_GetMerchants @pageno=0,@pagesize=20,@filter='', @status = -1, @merchantCode='', @count = @countResult output
-- SELECT @countResult
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetMerchants]
     @pageno INT,
     @pagesize INT,
	 @filter nVARCHAR(max),
	 @status int = -1,
	 @merchantCode NVARCHAR(50) = '',
	 @count int OUTPUT
	
AS
BEGIN
    DECLARE @Start INT=(@pageno)*@pagesize;
    DECLARE @End INT=@Start+@pagesize;
	DECLARE @sql nvarchar(max);
	DECLARE @params NVARCHAR(MAX);

	DECLARE @tblMerchants AS TABLE
        (MerchantId INT,
		 MerchantCode NVARCHAR(50),
		 MerchantName NVARCHAR(255),
		 APIUrl NVARCHAR(MAX),
		 CreateDate DATETIME,
		 Status SMALLINT,
		 RN INT)

INSERT INTO @tblMerchants
	SELECT MerchantId,
	       MerchantCode, 
		   MerchantName,
		   APIUrl,
		   CreateDate,
		   Status,
		   ROW_NUMBER() OVER (ORDER BY  CreateDate desc) AS RN
	FROM Merchant
	WHERE ((MerchantCode =  @merchantCode) or @merchantCode = '' )and ((Status =  @status) or @status = -1 )and (MerchantName like N'%'+@filter+'%')

	
SELECT  @count=COUNT(*) FROM @tblMerchants
SELECT * FROM @tblMerchants WHERE RN>@Start and RN<=@End ORDER BY RN 

END

GO
/****** Object:  StoredProcedure [dbo].[Proc_GetPaymentServicesByBankCode]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		NVThanh
-- Create date: 22/04/2019
-- Description:	Lấy danh sách dịch vụ thanh toán (QRCode, AppToApp, Billing, AutoDebit...) theo mã đơn vị thanh toán (Bank)
-- EXEC Proc_GetPaymentServicesByBankCode @bankCode = 'VCB'
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetPaymentServicesByBankCode]
	@bankCode NVARCHAR(10) =''
AS
BEGIN
	SELECT BankPaymentSevice.PaymentServiceId,
	       PaymentServiceCode,
		   PaymentServiceName,
		   Description,
		   BankPaymentSevice.CreatedDate,
		   BankPaymentSevice.UpdatedDate,
		   PaymentServiceType,
		   Status,
		   PaymentServiceUrl
	FROM   BankPaymentSevice
	RIGHT JOIN PaymentSevice ON BankPaymentSevice.PaymentServiceId=PaymentSevice.PaymentServiceId
	WHERE @bankCode = BankPaymentSevice.BankCode
END

GO
/****** Object:  StoredProcedure [dbo].[Proc_GetTransactionByTransactionNo]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		NVThanh
-- Create date: 22/04/2019
-- Description:	Proc lấy thông tin chi tiết của một giao dịch trên cổng thu hộ chi hộ bằng TransactionCode
-- EXEC Proc_GetTransactionByTransactionNo @transactionNo = '7BFFD46E-3C3D-41AE-9919-D41363064A4E'
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetTransactionByTransactionNo] 
	@transactionNo NVARCHAR(80) =''
AS
BEGIN
	SELECT AutoId,
		   OrderCode,
		   TransactionNo,
		   BankCode,
		   CustomerName,
		   MerchantCode,
		   Amount,
		   OrderDesc,
		   CustomerId,
		   TransactionType,
		   Status,
		   BankRefId,
		   MerchantRefId,
		   CreateDate,
		   UpdateDate,
		   MoreInfo,
		   SysTransactionNo
		   FROM TransactionAuth 

     WHERE (TransactionNo=@transactionNo)
	     
END

GO
/****** Object:  StoredProcedure [dbo].[Proc_GetTransactions]    Script Date: 4/3/2020 9:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		NVThanh
-- Create date: 22/04/2019
-- Description:	Lấy danh sách giao dịch của cổng thu hộ chi hộ (Dùng được cho tất cả các user của trang admin cổng thu hộ chi hộ)
--DECLARE @CountResult int
--EXEC [dbo].[Proc_GetTransactions] @PageNo = 0, @PageSize = 10, @SortOrder='DESC',@SortColumn='CreateDate', @Filter='', @FromTime='2018-09-01 09:34:27.150', @ToTime='2020-09-01 09:34:27.150', @FromAmount=0,@ToAmount = 100000000, @MerchantCode='', @BankCode='', @TransactionType = -1, @Status=-1, @Count = @CountResult output
--SELECT @CountResult
-- =============================================
--ALTER PROCEDURE [dbo].[Proc_GetTransactions] 
--	@PageNo INT,
--    @PageSize INT,
--    @SortOrder VARCHAR(10),
--    @SortColumn VARCHAR(100),
--    @Filter nVARCHAR(max),
--	@FromTime  VARCHAR(50),
--	@ToTime  VARCHAR(50),
--	@FromAmount decimal(18, 4),
--	@ToAmount  decimal(18, 4),

--	@MerchantCode NVARCHAR(50)='',
--	@BankCode NVARCHAR(50)='',
--	@TransactionType int = -1,
--	@Status int = -1,
--	@Count int OUTPUT
--AS
--BEGIN

--DECLARE @Start INT=(@PageNo)*@PageSize;
--    DECLARE @End INT=@Start+@PageSize;
--	declare @Sql nvarchar(max);
--	DECLARE @Params NVARCHAR(MAX);

--	declare @ToTimeValid date;
--	set @ToTimeValid = convert(date,@ToTime);
--	set @ToTime = convert(varchar(50), DATEADD(day,1,@ToTimeValid));

--    DECLARE @TblTransactions AS TABLE
--        (AutoId INT,
--		 OrderCode NVARCHAR(255),
--		 TransactionNo uniqueidentifier,
--		 BankCode NVARCHAR(50),
--		 CustomerName NVARCHAR(100),
--		 MerchantCode NVARCHAR(50),
--		 Amount DECIMAL(18, 4),
--		 OrderDesc NVARCHAR(255),
--		 CustomerId NVARCHAR(80),
--		 TransactionType SMALLINT,
--		 Status SMALLINT,
--		 BankRefId NVARCHAR(255),
--		 MerchantRefId NVARCHAR(255),
--		 CreateDate DATETIME,
--		 UpdateDate DATETIME,
--		 MoreInfo NVARCHAR(255),
--		 SysTransactionNo NVARCHAR(255),
--		 Rn INT)

--INSERT INTO @TblTransactions
--    SELECT AutoId,
--		   OrderCode,
--		   TransactionNo,
--		   BankCode,
--		   CustomerName,
--		   MerchantCode,
--		   Amount,
--		   OrderDesc,
--		   CustomerId,
--		   TransactionType,
--		   Status,
--		   BankRefId,
--		   MerchantRefId,
--		   CreateDate,
--		   UpdateDate,
--		   MoreInfo,
--		   SysTransactionNo,
--		   ROW_NUMBER() OVER (ORDER BY  trans.CreateDate desc) AS Rn 
--		   FROM TransactionAuth trans

--     WHERE (MerchantCode=@MerchantCode or @MerchantCode='')and
--	       (BankCode=@BankCode or @BankCode='')and
--	       ((TransactionType =  @TransactionType) or @TransactionType = -1 )and
--		   ((Status =  @Status) or @Status = -1 )and
--	       (CreateDate between convert(datetime,@FromTime) and convert(datetime,@ToTime)) and
--		   (Amount between @FromAmount and @ToAmount)and
--	       (OrderDesc like N'%'+@Filter+'%')  

--SELECT  @Count=COUNT(TransactionNo) FROM @TblTransactions
--SELECT * FROM @TblTransactions WHERE Rn>@Start and Rn<=@End ORDER BY Rn 
	
--END

CREATE  PROCEDURE [dbo].[Proc_GetTransactions]
    @Where nvarchar(max),
    @PageIndex int = 1,
    @PageSize INT,
    @OrderBy NVARCHAR(255),
    @TotalRecord int OUTPUT
AS
BEGIN
CREATE TABLE #tempTransaction(
    TransactionNo UNIQUEIDENTIFIER,
    OrderCode nvarchar(255),
    CustomerId nvarchar(80),
    CreateDate DATETIME,
    Amount decimal(18, 4),
    Status smallint,
    MoreInfo NVARCHAR(255),
    SubMerchantName nvarchar(255),
    BankName nvarchar(255)
)
INSERT INTO #tempTransaction
(
    TransactionNo,
    OrderCode,
    CustomerId,
    CreateDate,
    Amount,
    Status,
    MoreInfo,
    SubMerchantName,
    BankName
)
SELECT TransactionNo,
    OrderCode,
    CustomerId,
    tr.CreateDate,
    Amount,
    tr.Status,
    tr.MoreInfo,
    SubMerchantName,
    BankName
FROM dbo.TransactionAuth tr , dbo.Bank ba, dbo.Merchant mer ,dbo.SubMerchant sub 
WHERE tr.BankCode=ba.BankCode AND tr.MerchantCode=mer.MerchantCode and mer.SubMerchantId=sub.SubMerchantId
declare @Index int
    declare @Sql nvarchar(max)
    declare @tmp nvarchar(max)
    set @Index = @PageSize * (@PageIndex - 1)
    set @Sql = 'Select * from #tempTransaction where 1=1' + @Where + ' order by '+@OrderBy+'  offset '+ CONVERT(nvarchar(20), @Index)+' row fetch next '+  CONVERT(nvarchar(20), @PageSize)+' row only option(recompile);';
    EXECUTE sp_executesql @sql;
    set @tmp ='select Count(TransactionNo) from #tempTransaction where 1=1 ' + @Where
    declare @result table ([rowcount] int);
    insert into @result ([rowcount])
    exec sp_executesql @tmp
    select @TotalRecord = (select[rowcount] from @result);
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Bank', @level2type=N'COLUMN',@level2name=N'BankCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Bank', @level2type=N'COLUMN',@level2name=N'BankName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả về ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Bank', @level2type=N'COLUMN',@level2name=N'BankDesc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái bản ghi. 0 - Mới tạo; 1- Hoạt động' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Bank', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Bank', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BankPaymentSevice', @level2type=N'COLUMN',@level2name=N'BankCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id của dịch vụ thanh toán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BankPaymentSevice', @level2type=N'COLUMN',@level2name=N'PaymentServiceId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại dịch vụ (0-Chuẩn chung,1-Chuẩn riêng). VD: Tạo QRCode theo chuẩn chung thì là 0, còn tạo QRCode theo chuẩn riêng thì là 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BankPaymentSevice', @level2type=N'COLUMN',@level2name=N'PaymentServiceType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái dịch vụ của ngân hàng (0-Kết nối, 1- Không kết nối)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BankPaymentSevice', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Url cho những dịch vụ cần call API' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BankPaymentSevice', @level2type=N'COLUMN',@level2name=N'PaymentServiceUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BankPaymentSevice', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian cập nhật' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BankPaymentSevice', @level2type=N'COLUMN',@level2name=N'UpdatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bảng lưu thông tin về ngân hàng sử dụng dịch vụ thanh toán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BankPaymentSevice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID merchant' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'MerchantId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã Merchant' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'MerchantCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên Merchant' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'MerchantName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User xác thực' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'SecretName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mật khẩu xác thực' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'SecretPassword'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Key để xác thực' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'SecretKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link kết nối API của Merchant' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'APIUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái bản ghi. 0 - Mới tạo; 1- Hoạt động' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Merchant', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK, ID của bảng dịch vụ thanh toán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSevice', @level2type=N'COLUMN',@level2name=N'PaymentServiceId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã dịch vụ thanh toán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSevice', @level2type=N'COLUMN',@level2name=N'PaymentServiceCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên dịch vụ thanh toán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSevice', @level2type=N'COLUMN',@level2name=N'PaymentServiceName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả dịch vụ thanh toán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSevice', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSevice', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian cập nhật' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSevice', @level2type=N'COLUMN',@level2name=N'UpdatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dịch vụ thanh toán (QRCode/AppToApp/Billing..) của các ngân hàng kết nối Cổng thu hộ chi hộ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PaymentSevice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID tự tăng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'AutoId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'OrderCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã giao dịch' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'TransactionNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'BankCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'CustomerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID merchant' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'MerchantCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số tiền giao dịch' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'Amount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả hóa đơn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'OrderDesc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'CustomerId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại giao dịch (0-Check; 1-Thanh toán ; 2-Hủy)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'TransactionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái GD (0-Mới tạo; 1-Đang xử lý; 2-Thành công; 3-Hủy)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã đối soát của NH' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'BankRefId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã đối soát của Merchant' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'MerchantRefId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian cập nhật' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'UpdateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ghi chú' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TransactionAuth', @level2type=N'COLUMN',@level2name=N'MoreInfo'
GO
USE [master]
GO
